<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/web.css">
    <title>Exception - connectord</title>
</head>
<body class="bg-danger">

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card w-25">
        <div class="card-body">
            <h5 class="card-title text-left">System Error</h5>

            <div class="card-text mb-2">
                <div class="bg-light p-3 border rounded">
                    <pre class="m-0">%%EXCEPTION%%</pre>
                </div>
            </div>

            <p class="card-text text-left small">Please check the logs at <span class="font-monospace text-info">/connectord/logs</span> for any further troubleshooting information. If you're completely stuck, please log an issue on the <a href="https://github.com/connectord/base/issues/new">Github project here</a>.</p>
        </div>
    </div>
</div>

</body>
</html>